body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.logo{
    display: flex;
    align-items: center;
    width: 80%;
}
header{
    display: flex;
    align-items: center;
    height: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid black;
    color: mediumaquamarine;
    background-color: white;
    z-index: 1;
    width: 100%;
}
.subhead{
    justify-content: center;
    padding-left: 10px;
}
header nav{
    padding-right: 40px;
}
nav span{
    display: inline-block;
    padding-left: 10px;
}
nav{
    display: block;
}
a{
    color: black;
}
.column{
    display: flex; 
    padding-top: 80px;
    flex-direction: row; 
    padding-bottom: 80px;
}
.large{
    display: flex;
    width: 630px;
    flex-direction: column;
    padding-right: 20px;
}
.imageone{
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 300px;
    margin-top: 15px;
}
.imageone span{
    font-size: 40px;
    text-align: left;
}
.imagetwo{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.imagethree{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.split-col{
    display: flex;
    flex-wrap: nowrap;
}
#colA{
    flex-direction: column;
}
#colB{
    flex-direction: column;
}
.large .imageone{
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
}
.large .imagetwo{
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
    height: 300px;
    width: 300px;
}
.large .imagethree{
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
    height: 300px;
    width: 300px;
}
.medium{
    display: flex;
    width: 300px;
    flex-direction: column;
    padding-right: 20px;   
}
.medium div{
    display: flex;
    flex-direction: column;
}
.medium .imagefore{
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
    height: 300px;
    width: 300px;
}
.small{
    display: flex;
    width: 240px;
    flex-direction: column; 
}
.small h3{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
.news-bites span{
    display: block;
    font-size: 12px;
    background-color: whitesmoke;
    color: dimgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 11px 20px;
    border-bottom: 1px solid black;
}
.small .imagefive{
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-news-bite.png");
    height: 250px;
    width: 250px;
}
.imspan{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-align: center;
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    color: black;
}
footer{
    display: flex;
    background-color: aquamarine;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12;
    flex-direction: column;
    align-items: center;
    width: 1220px;
}
.subfoot{
    justify-content: center;
    padding-left: 10px;
    color: white;
    padding-right: 15px;
    border-right: 2px solid white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
}
footer div{
    flex-direction: row;
}
.footspan{
    font-size: 12px;
}
