.logo{
    display: flex;
    align-items: center;
    width: 80%;
}
header{
    display: flex;
    align-items: center;
    height: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid black;
    color: mediumaquamarine;
    background-color: white;
    position: fixed;
    z-index: 1;
    width: 100%;
}
.subhead{
    justify-content: center;
    padding-left: 10px;
}
header nav{
    padding-right: 40px;
}
nav span{
    display: inline-block;
    padding-left: 10px;
}
nav{
    display: block;
}
a{
    color: black;
}
.column{
    display: flex; 
    padding-top: 80px;
    flex-direction: row;
    border: 1px solid black;  
}
.large{
    display: flex;
    width: 630px;
    border: 1px solid black;
    flex-direction: column;
}
.imageone{
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 300px;
    margin-top: 15px;
}
.imagetwo{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.imagethree{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.split-col{
    display: flex;
    flex-wrap: nowrap;
}
#colA{
    flex-direction: column;
}
#colB{
    flex-direction: column;
}
.large .imageone{
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
}
.large .imagetwo{
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
    height: 300px;
    width: 300px;
}
.large .imagethree{
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
    height: 300px;
    width: 300px;
}
.medium{
    display: flex;
    width: 300px;
    border: 1px solid black;
    flex-direction: column;    
}
.medium div{
    border: 1px solid black;
}
.small{
    display: flex;
    width: 240px;
    border: 1px solid black;
    flex-direction: column; 
}
.small div{
    border: 1px solid black;
}
span{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
    color: white;
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    color: black;
}



